ClientBookingRoom/ClientBookingRoom/Connected Services/RoomServiceReference/RoomService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://yourdomain.com/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://yourdomain.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://yourdomain.com/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="tns:ValueTupleOfBooleanStringStringInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValueTupleOfBooleanStringStringInt32">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Item1" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Item2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Item3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Item4" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ForgotPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ForgotPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ForgotPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListRoom">
        <s:complexType />
      </s:element>
      <s:element name="GetListRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListRoomResult" type="tns:ArrayOfRoom" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRoom">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Room">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RoomID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RoomName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Capacity" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBookingDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="staffID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bookingDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="roomID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookingDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBookingDetailsResult" type="tns:ArrayOfBookingDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBookingDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BookingDetails" nillable="true" type="tns:BookingDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BookingDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BookingDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RoomID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RoomName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="BookingRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="staffID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="roomID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bookingDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="shift" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookingRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookingRoomResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="staffID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="roomID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bookingDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="shift" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CancelBookingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="staffID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="staffID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyPasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="staffID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="roomID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="roomName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="capacity" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditRoomResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ForgotPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ForgotPassword" />
  </wsdl:message>
  <wsdl:message name="ForgotPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ForgotPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetListRoomSoapIn">
    <wsdl:part name="parameters" element="tns:GetListRoom" />
  </wsdl:message>
  <wsdl:message name="GetListRoomSoapOut">
    <wsdl:part name="parameters" element="tns:GetListRoomResponse" />
  </wsdl:message>
  <wsdl:message name="GetBookingDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBookingDetails" />
  </wsdl:message>
  <wsdl:message name="GetBookingDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBookingDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="BookingRoomSoapIn">
    <wsdl:part name="parameters" element="tns:BookingRoom" />
  </wsdl:message>
  <wsdl:message name="BookingRoomSoapOut">
    <wsdl:part name="parameters" element="tns:BookingRoomResponse" />
  </wsdl:message>
  <wsdl:message name="CancelBookingSoapIn">
    <wsdl:part name="parameters" element="tns:CancelBooking" />
  </wsdl:message>
  <wsdl:message name="CancelBookingSoapOut">
    <wsdl:part name="parameters" element="tns:CancelBookingResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyPassword" />
  </wsdl:message>
  <wsdl:message name="VerifyPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="EditRoomSoapIn">
    <wsdl:part name="parameters" element="tns:EditRoom" />
  </wsdl:message>
  <wsdl:message name="EditRoomSoapOut">
    <wsdl:part name="parameters" element="tns:EditRoomResponse" />
  </wsdl:message>
  <wsdl:portType name="RoomServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <wsdl:input message="tns:ForgotPasswordSoapIn" />
      <wsdl:output message="tns:ForgotPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListRoom">
      <wsdl:input message="tns:GetListRoomSoapIn" />
      <wsdl:output message="tns:GetListRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBookingDetails">
      <wsdl:input message="tns:GetBookingDetailsSoapIn" />
      <wsdl:output message="tns:GetBookingDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BookingRoom">
      <wsdl:input message="tns:BookingRoomSoapIn" />
      <wsdl:output message="tns:BookingRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelBooking">
      <wsdl:input message="tns:CancelBookingSoapIn" />
      <wsdl:output message="tns:CancelBookingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyPassword">
      <wsdl:input message="tns:VerifyPasswordSoapIn" />
      <wsdl:output message="tns:VerifyPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditRoom">
      <wsdl:input message="tns:EditRoomSoapIn" />
      <wsdl:output message="tns:EditRoomSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RoomServiceSoap" type="tns:RoomServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://yourdomain.com/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <soap:operation soapAction="http://yourdomain.com/ForgotPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListRoom">
      <soap:operation soapAction="http://yourdomain.com/GetListRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingDetails">
      <soap:operation soapAction="http://yourdomain.com/GetBookingDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookingRoom">
      <soap:operation soapAction="http://yourdomain.com/BookingRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelBooking">
      <soap:operation soapAction="http://yourdomain.com/CancelBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://yourdomain.com/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyPassword">
      <soap:operation soapAction="http://yourdomain.com/VerifyPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRoom">
      <soap:operation soapAction="http://yourdomain.com/EditRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RoomServiceSoap12" type="tns:RoomServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://yourdomain.com/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <soap12:operation soapAction="http://yourdomain.com/ForgotPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListRoom">
      <soap12:operation soapAction="http://yourdomain.com/GetListRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingDetails">
      <soap12:operation soapAction="http://yourdomain.com/GetBookingDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookingRoom">
      <soap12:operation soapAction="http://yourdomain.com/BookingRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelBooking">
      <soap12:operation soapAction="http://yourdomain.com/CancelBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://yourdomain.com/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyPassword">
      <soap12:operation soapAction="http://yourdomain.com/VerifyPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRoom">
      <soap12:operation soapAction="http://yourdomain.com/EditRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoomService">
    <wsdl:port name="RoomServiceSoap" binding="tns:RoomServiceSoap">
      <soap:address location="https://localhost:44388/RoomService.asmx" />
    </wsdl:port>
    <wsdl:port name="RoomServiceSoap12" binding="tns:RoomServiceSoap12">
      <soap12:address location="https://localhost:44388/RoomService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>